html
  head
    title Nginx Config Editor
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="/uikit/uikit.min.css")
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/libs/ace-builds/ace.js")
    script(src="/uikit/uikit.min.js")
    script(src="/uikit/uikit-icons.min.js")
    script(src="/js/directives.js")
    script(src="/js/services.js")
    script(src="/js/controllers.js")
    script(src="/js/app.js")
  body(ng-app="app")
    block content
