html
  head
    title Nginx Config Editor
    link(rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/uikit/3.5.7/css/uikit.min.css")
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="https://cdn.bootcdn.net/ajax/libs/angular.js/1.8.0/angular.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/angular-route/1.8.0/angular-route.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/angular-resource/1.8.0/angular-resource.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/socket.io/1.7.4/socket.io.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/ace/1.4.9/ace.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/ace/1.4.9/ext-beautify.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/uikit/3.5.7/js/uikit.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/uikit/3.5.7/js/uikit-icons.min.js")
    script(src="/js/directives.js")
    script(src="/js/services.js")
    script(src="/js/controllers.js")
    script(src="/js/app.js")
  body(ng-app="app")
    block content
